.login-page {
  position: absolute;
  top: var(--navbar-height);
  min-height: calc(100% - var(--navbar-height));
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-laptop {
  width: calc(100vw - 20px);
}

.login-page > .login-box {
  width: 90%;
  max-width: 400px;
}
